# R Basic Tutorial

## 1.0 Assignment
Use `<-`, not `=`, for assignment.
The symbol `=` is preferable for arguments in functions. Additionally, it can not be used in some syntax context. More information [here](https://stackoverflow.com/questions/1741820/what-are-the-differences-between-and-assignment-operators-in-r).

In [41]:
a = 1
b <- 1

In [42]:
a

[1] 1

In [43]:
b

[1] 1

In [39]:
c <- b = 11

ERROR: Error in c <- b = 5: no se pudo encontrar la función "<-<-"

In [40]:
c <- b <- 11
print(c)

[1] 11

## 2.0 Objects

### Clases

R is a functional programming language. It means that the programs are constructed by applying and composing functions. However, It can use Object Oriented Programming to construct tools for data analysis. Class is the blueprint that helps to create an object and contains its member variable along with the attributes. We have two main classes: S3 and S4. [info](https://www.datacamp.com/community/tutorials/r-objects-and-classes)

### Objects
Objects are the instance of a class. It means that it has some methods that can act upon its attributes. In R, everything is an object. We will cover four main objects: vector, matrix, list and dataframes. All of them comes from a class.

#### Data Types
There are four data types: `character`, `numeric`, `integer` and `boolean`.

In [48]:
a <- 'Hola'
print(class( a ))   # type of object
print(typeof( a )) # how object is stored in memory

[1] "character"
[1] "character"

In [49]:
b <- 20.5
print(class( b ))
b

[1] "numeric"

[1] 20.5

In [50]:
c <- as.integer(20.5)
c
print(class( c ))

[1] 20

[1] "integer"

In [53]:
# typeof helps us to understand how this object is store in memory.
typeof(b)
# Class helps us to understand the type of a object
class(b)

[1] "double"

[1] "numeric"

In [54]:
c1 <- "Machine Learning"
c2 <- "Causal inference"
cat(c1,"  ",c2)

Machine Learning    Causal inference

In [57]:
#install.packages("devtools")
library(glue)
glue('{c1} y {c2} course')

Machine Learning y Causal inference course

In [65]:
# Boolean variables

log_true <- TRUE
print(class( log_true ))

z1 <- (1==1)

z2 <- (10 > 20)

z3 <- (1==1)

cat(z1,'\n',z2,'\n',z3)

class(as.integer(z3))

typeof(as.integer(z3))

[1] "logical"
TRUE
 FALSE
 TRUE

[1] "integer"

[1] "integer"

# 3.0 List

A list in R can contain many different data types inside it. A list is a collection of data which is ordered and changeable.

#### Lists
This data structure does not require that all members be of the same data type.

In [ ]:
#install.packages("rlist")
library(rlist)

In [126]:
list_1 <- list( "good", "bad", "ugly","good", "bad", 1)
list_1

[[1]]
[1] "good"

[[2]]
[1] "bad"

[[3]]
[1] "ugly"

[[4]]
[1] "good"

[[5]]
[1] "bad"

[[6]]
[1] 1

In [127]:
list_1 <- append(list_1, "bad")
list_1

[[1]]
[1] "good"

[[2]]
[1] "bad"

[[3]]
[1] "ugly"

[[4]]
[1] "good"

[[5]]
[1] "bad"

[[6]]
[1] 1

[[7]]
[1] "bad"

In [109]:
# factor grouped categorical variables

fac_2 <- factor( c( "good", "bad", "ugly","good", "bad", "ugly", 5 ) )
fac_2

[1] good bad  ugly good bad  ugly 5
Levels: 5 bad good ugly

In [115]:
fac <- factor( c( "good", "bad", "ugly","good", "bad", "ugly" ) )
print( fac )
# Type of class
typeof( fac )
class( fac )

[1] good bad  ugly good bad  ugly
Levels: bad good ugly

[1] "integer"

[1] "factor"

In [116]:
# Levels o categories 
levels( fac )
# Number of Levels
nlevels( fac )

[1] "bad"  "good" "ugly"

[1] 3

In [76]:
# Check the variables that you defined
ls()

 [1] "a"        "b"        "c"        "c1"       "c2"       "fac"
 [7] "fac_2"    "list_1"   "log_true" "x"        "z1"       "z2"
[13] "z3"

Basic data structures in R include the vector, list, matrix, data frame, and factors. Some of these structures require that all members be of the same data type (e.g. vectors, matrices) while others permit multiple data types (e.g. lists, data frames).

In [97]:
mylist <- list( num_UEFA = c( 13 , 7 , 6 ) , clubs = c( "Real Madrid" , "AC Milan" , "Liverpool FC" ) , 
               last_year = c( 2018 , 2007 , 2019 ) )

mylist

$num_UEFA
[1] 13  7  6

$clubs
[1] "Real Madrid"  "AC Milan"     "Liverpool FC"

$last_year
[1] 2018 2007 2019

In [99]:
mylist$last_year

[1] 2018 2007 2019

In [34]:
# Indexing vectors
mylist[[3]]

[1] 2018 2007 2019

In [35]:
# Indexing group of vectors
mylist[[3]][2:3]

[1] 2007 2019

In [36]:
# Indexing group of vectors
mylist[3][1]

$last_year
[1] 2018 2007 2019

In [102]:
list.remove(mylist,"last_year")

$num_UEFA
[1] 13  7  6

$clubs
[1] "Real Madrid"  "AC Milan"     "Liverpool FC"

In [105]:
Postal_code <- append(mylist, 4000)
Postal_code

$num_UEFA
[1] 13  7  6

$clubs
[1] "Real Madrid"  "AC Milan"     "Liverpool FC"

$last_year
[1] 2018 2007 2019

[[4]]
[1] 4000

#### Vectors
This data structure requires that all members be of the same data type.

In [77]:
vec_str <-  c( "good", "bad", "ugly","good", "bad")
print( class( vec_str ) )
print( is.vector( vec_str ) )
print( length( vec_str ) )

[1] "character"
[1] TRUE
[1] 5

In [78]:
vec <- c( 2 , 3 , 4 , 5 , 6 , 4 )
vec

[1] 2 3 4 5 6 4

In [79]:
print( class( vec ) )
print( is.vector( vec ) )
print( length( vec ) )

[1] "numeric"
[1] TRUE
[1] 6

In [81]:
sec_1_20 <- seq(1,20,2)
sec_1_20

 [1]  1  3  5  7  9 11 13 15 17 19

In [82]:
sec_1_9 <- seq(1,10)
sec_1_9

 [1]  1  2  3  4  5  6  7  8  9 10

#### Indexing

In [87]:
index_vec  <- vec[ c( 3, 1, 6, 2 ) ]
class(index_vec)

[1] "numeric"

In [84]:
print(index_vec)
print(index_vec[ -3 ])

[1] 4 2 4 3
[1] 4 2 3

In [88]:
print( index_vec[ index_vec < 3 ] )

[1] 2

In [89]:
print( index_vec[ 2:4 ] )

[1] 2 4 3

#### Matrix
This data structure requires that all members be of the same data type.

In [128]:
A = matrix( c(3, 5, 2, 6, 7, 1, 6, 3, 7 ) , nrow = 3, ncol = 3 , byrow = FALSE, 
            dimnames = list( c( "rowA" , "rowB" , "rowC" ), c( "colA" , "colB" , "colC" ) ) )
print( A )

     colA colB colC
rowA    3    6    6
rowB    5    7    3
rowC    2    1    7

In [129]:
A = matrix( c(3, 5, 2, 6, 7, 1, 6, 3, 7 ) , nrow = 3, ncol = 3 , byrow = TRUE, 
            dimnames = list( c( "rowA" , "rowB" , "rowC" ), c( "colA" , "colB" , "colC" ) ) )
print( A )

     colA colB colC
rowA    3    5    2
rowB    6    7    1
rowC    6    3    7

In [137]:
class(A)
typeof(A)

[1] "matrix" "array"

[1] "double"

In [131]:
dim(A)

[1] 3 3

In [130]:
cat("rows: ", dim(A)[1], '\n', "Columns: ", dim(A)[2])

rows:  3
 Columns:  3

In [93]:
B = A %*% solve( A )
B

     rowA          rowB rowC
rowA  1.000000e+00 0    5.551115e-17
rowB -3.885781e-16 1    2.775558e-17
rowC -4.440892e-16 0    1.000000e+00

In [94]:
# Solve for getting inverse matrix
# %*% Matrix Multiplication
# round output of the matrix
B = round( A %*% solve( A ) , 2 )
B

     rowA rowB rowC
rowA 1    0    0
rowB 0    1    0
rowC 0    0    1

In [95]:
print( diag( B ) )

rowA rowB rowC
   1    1    1

In [96]:
print( t( A ) )

     rowA rowB rowC
colA    3    6    6
colB    5    7    3
colC    2    1    7

In [133]:
A <- matrix(c(seq(0, 9), seq( 10, 19), seq( 30, 39), seq( -20, -11), seq( 2, 20,2)), nrow = 5, byrow =TRUE)
print(A)

     [,1] [,2] [,3] [,4] [,5] [,6] [,7] [,8] [,9] [,10]
[1,]    0    1    2    3    4    5    6    7    8     9
[2,]   10   11   12   13   14   15   16   17   18    19
[3,]   30   31   32   33   34   35   36   37   38    39
[4,]  -20  -19  -18  -17  -16  -15  -14  -13  -12   -11
[5,]    2    4    6    8   10   12   14   16   18    20

In [134]:
A[2:4,] # rows selecrtion

     [,1] [,2] [,3] [,4] [,5] [,6] [,7] [,8] [,9] [,10]
[1,]  10   11   12   13   14   15   16   17   18   19
[2,]  30   31   32   33   34   35   36   37   38   39
[3,] -20  -19  -18  -17  -16  -15  -14  -13  -12  -11

In [135]:
A[,1:6]  # columns selecrtion

     [,1] [,2] [,3] [,4] [,5] [,6]
[1,]   0    1    2    3    4    5
[2,]  10   11   12   13   14   15
[3,]  30   31   32   33   34   35
[4,] -20  -19  -18  -17  -16  -15
[5,]   2    4    6    8   10   12

In [138]:
M1 <- matrix(0,8,2)

print(M1)

     [,1] [,2]
[1,]    0    0
[2,]    0    0
[3,]    0    0
[4,]    0    0
[5,]    0    0
[6,]    0    0
[7,]    0    0
[8,]    0    0

In [139]:
M2 <- matrix(1,8, 4) 
print(M2)

     [,1] [,2] [,3] [,4]
[1,]    1    1    1    1
[2,]    1    1    1    1
[3,]    1    1    1    1
[4,]    1    1    1    1
[5,]    1    1    1    1
[6,]    1    1    1    1
[7,]    1    1    1    1
[8,]    1    1    1    1

In [140]:
M3 <- cbind(M1,M2)
M3

     [,1] [,2] [,3] [,4] [,5] [,6]
[1,] 0    0    1    1    1    1
[2,] 0    0    1    1    1    1
[3,] 0    0    1    1    1    1
[4,] 0    0    1    1    1    1
[5,] 0    0    1    1    1    1
[6,] 0    0    1    1    1    1
[7,] 0    0    1    1    1    1
[8,] 0    0    1    1    1    1

In [141]:
M4 = matrix(c(2,2,3,4,5,1,1,5,5,9,8,2), nrow =2, byrow = TRUE)
print(M4)

     [,1] [,2] [,3] [,4] [,5] [,6]
[1,]    2    2    3    4    5    1
[2,]    1    5    5    9    8    2

In [142]:
M5 <- rbind(M3,M4)
print(M5)

      [,1] [,2] [,3] [,4] [,5] [,6]
 [1,]    0    0    1    1    1    1
 [2,]    0    0    1    1    1    1
 [3,]    0    0    1    1    1    1
 [4,]    0    0    1    1    1    1
 [5,]    0    0    1    1    1    1
 [6,]    0    0    1    1    1    1
 [7,]    0    0    1    1    1    1
 [8,]    0    0    1    1    1    1
 [9,]    2    2    3    4    5    1
[10,]    1    5    5    9    8    2

#### DataFrame
This data structure does not require that all members be of the same data type.

In [143]:
Student_Name <- c("Amy", "Bob", "Chuck", "Daisy", "Ellie", "Frank", 
                  "George", "Helen")

Age <- c(27, 55, 34, 42, 20, 27, 34, 42)

Gender <- c("F", "M", "M", "F", "F", "M", "M", "F")

GPA <- c(3.26, 3.75, 2.98, 3.40, 2.75, 3.32, 3.68, 3.97)

nsc <- data.frame(Student_Name, Age, Gender, GPA)   # Naming the data frame
nsc # Generates the data frame

  Student_Name Age Gender GPA
1 Amy          27  F      3.26
2 Bob          55  M      3.75
3 Chuck        34  M      2.98
4 Daisy        42  F      3.40
5 Ellie        20  F      2.75
6 Frank        27  M      3.32
7 George       34  M      3.68
8 Helen        42  F      3.97

In [144]:
# Lists variables
names(nsc)

[1] "Student_Name" "Age"          "Gender"       "GPA"

In [145]:
select_col <- c(1,3)
select_row <- c(1,5)

In [146]:
nsc[select_row, select_col]

  Student_Name Gender
1 Amy          F
5 Ellie        F

In [147]:
# indexing dataframes
nsc[3:5 , 2:4]

  Age Gender GPA
3 34  M      2.98
4 42  F      3.40
5 20  F      2.75

In [148]:
# indexing dataframes
nsc[ c( 1 , 2 , 4, 6 ) , c( 3 , 2 ) ]

  Gender Age
1 F      27
2 M      55
4 F      42
6 M      27

In [149]:
nsc$Student_Name

[1] "Amy"    "Bob"    "Chuck"  "Daisy"  "Ellie"  "Frank"  "George" "Helen"

## Load  files : CSV, Excel
## Working with DataFrames

In [2]:
#install.packages("readxl")
library(readxl)

In [4]:
base <- data.frame(read_excel("../data/base1.xlsx", sheet = "data"))
base

New names:
* `` -> ...1

     ...1  wage      lwage    sex shs hsg scl clg ad  mw  ... we  ne  exp1
1     10    9.615385 2.263364 1   0   0   0   1   0   0   ... 0   1    7.0
2     12   48.076923 3.872802 0   0   0   0   1   0   0   ... 0   1   31.0
3     15   11.057692 2.403126 0   0   1   0   0   0   0   ... 0   1   18.0
4     18   13.942308 2.634928 1   0   0   0   0   1   0   ... 0   1   25.0
5     19   28.846154 3.361977 1   0   0   0   1   0   0   ... 0   1   22.0
6     30   11.730769 2.462215 1   0   0   0   1   0   0   ... 0   1    1.0
7     43   19.230769 2.956512 1   0   1   0   0   0   0   ... 0   1   42.0
8     44   19.230769 2.956512 0   0   1   0   0   0   0   ... 0   1   37.0
9     47   12.000000 2.484907 1   0   1   0   0   0   0   ... 0   1   31.0
10    71   19.230769 2.956512 1   0   0   0   1   0   0   ... 0   1    4.0
11    73   17.307692 2.851151 1   0   1   0   0   0   0   ... 0   1    7.0
12    77   12.019231 2.486508 0   0   1   0   0   0   0   ... 0   1   30.0
13    84   12.019231 2.486508 1   0   0   1   0   0   0   ... 0   1    5.5
14    89   13.461538 2.599837 1   0   0   1   0   0   0   ... 0   1   20.5
15    96   16.346154 2.793993 1   0   0   0   1   0   0   ... 0   1   25.0
16   113   27.884615 3.328075 0   0   1   0   0   0   0   ... 0   1   16.0
17   115   21.600000 3.072693 0   0   1   0   0   0   0   ... 0   1   27.0
18   119    8.653846 2.158004 0   0   0   1   0   0   0   ... 0   1    3.5
19   128   19.230769 2.956512 0   0   1   0   0   0   0   ... 0   1    6.0
20   129   13.186813 2.579217 0   0   1   0   0   0   0   ... 0   1    8.0
21   135   10.683761 2.368725 1   0   0   1   0   0   0   ... 0   1    6.5
22   144   11.538462 2.445686 1   0   0   1   0   0   0   ... 0   1    8.5
23   145   17.788462 2.878550 1   0   0   0   0   1   0   ... 0   1   11.0
24   149   19.230769 2.956512 0   0   0   0   1   0   0   ... 0   1   11.0
25   152   16.304348 2.791432 1   0   0   1   0   0   0   ... 0   1   24.5
26   157   19.230769 2.956512 0   0   1   0   0   0   0   ... 0   1    8.0
27   158   14.423077 2.668829 1   0   1   0   0   0   0   ... 0   1    5.0
28   160   12.000000 2.484907 0   0   0   1   0   0   0   ... 0   1    4.5
29   164   16.826923 2.822980 0   0   0   0   1   0   0   ... 0   1    8.0
30   176   19.670330 2.979111 0   0   0   0   1   0   0   ... 0   1   26.0
...  ...   ...       ...      ... ... ... ... ... ... ...     ... ... ...
5121 32537 13.986014 2.638058 1   0   0   0   0   1   0   ... 1   0    7.0
5122 32538 15.865385 2.764140 0   0   0   0   0   1   0   ... 1   0    2.0
5123 32539 38.461538 3.649659 1   0   0   1   0   0   0   ... 1   0    7.5
5124 32540 28.846154 3.361977 0   0   0   0   1   0   0   ... 1   0    5.0
5125 32548 24.475524 3.197674 1   0   0   0   0   1   0   ... 1   0   24.0
5126 32551 27.884615 3.328075 0   0   0   1   0   0   0   ... 1   0   28.5
5127 32559  8.653846 2.158004 1   0   1   0   0   0   0   ... 1   0   25.0
5128 32560 12.019231 2.486508 0   0   1   0   0   0   0   ... 1   0   19.0
5129 32561 38.461538 3.649659 0   0   0   0   1   0   0   ... 1   0    8.0
5130 32564 12.500000 2.525729 1   0   1   0   0   0   0   ... 1   0   12.0
5131 32565 35.256410 3.562647 0   0   0   0   0   1   0   ... 1   0    6.0
5132 32567 48.076923 3.872802 1   0   0   0   1   0   0   ... 1   0   25.0
5133 32571  9.615385 2.263364 0   0   1   0   0   0   0   ... 1   0   20.0
5134 32572 12.019231 2.486508 0   0   1   0   0   0   0   ... 1   0   17.0
5135 32579 12.019231 2.486508 0   0   0   1   0   0   0   ... 1   0   31.5
5136 32580 12.980769 2.563469 0   0   1   0   0   0   0   ... 1   0   15.0
5137 32581 26.442308 3.274965 1   0   0   0   1   0   0   ... 1   0   34.0
5138 32590 13.461538 2.599837 1   0   1   0   0   0   0   ... 1   0    8.0
5139 32591 19.711538 2.981204 1   0   0   0   0   1   0   ... 1   0    8.0
5140 32593 21.153846 3.051822 0   0   0   0   1   0   0   ... 1   0   28.0
5141 32596 45.546559 3.818735 1   0   0   0   1   0   0   ... 1   0    5.0
5142 32599 22.596154 3.117780 0   0   1   0   0   0   0   ... 1   0   15.0
5143 32603 16.826923 2.822980 0   0   1   0   0   0   0   ... 1   0   11.0
5144 32606 24.038462 3.179655 1   0   0   0   1   0   0   ... 1   0   17.0
5145 32619 13.846154 2.628007 0   0   0   0   1   0   0   ... 1   0   10.0
5146 32620 14.769231 2.692546 0   0   0   0   1   0   0   ... 1   0    9.0
5147 32624 23.076923 3.138833 1   0   0   1   0   0   0   ... 1   0   12.0
5148 32626 38.461538 3.649659 0   0   0   0   0   1   0   ... 1   0   11.0
5149 32631 32.967033 3.495508 0   0   1   0   0   0   0   ... 1   0   10.0
5150 32643 17.307692 2.851151 0   0   0   0   0   1   0   ... 1   0   14.0
     exp2    exp3      exp4         occ  occ2 ind  ind2
1     0.4900  0.343000   0.24010000 3600 11   8370 18
2     9.6100 29.791000  92.35210000 3050 10   5070  9
3     3.2400  5.832000  10.49760000 6260 19    770  4
4     6.2500 15.625000  39.06250000  420  1   6990 12
5     4.8400 10.648000  23.42560000 2015  6   9470 22
6     0.0100  0.001000   0.00010000 1650  5   7460 14
7    17.6400 74.088000 311.16960000 5120 17   7280 14
8    13.6900 50.653000 187.41610000 5240 17   5680  9
9     9.6100 29.791000  92.35210000 4040 13   8590 19
10    0.1600  0.064000   0.02560000 3255 10   8190 18
11    0.4900  0.343000   0.24010000 4020 13   8270 18
12    9.0000 27.000000  81.00000000 4220 14   8270 18
13    0.3025  0.166375   0.09150625 3600 11   8270 18
14    4.2025  8.615125  17.66100625 3645 11   8190 18
15    6.2500 15.625000  39.06250000  110  1   7870 17
16    2.5600  4.096000   6.55360000 6355 19    770  4
17    7.2900 19.683000  53.14410000 6320 19    770  4
18    0.1225  0.042875   0.01500625 7410 20    570  3
19    0.3600  0.216000   0.12960000 7000 20   4690  9
20    0.6400  0.512000   0.40960000 4000 13   8680 20
21    0.4225  0.274625   0.17850625 4300 15   8590 19
22    0.7225  0.614125   0.52200625 3600 11   8190 18
23    1.2100  1.331000   1.46410000 2310  8   7860 17
24    1.2100  1.331000   1.46410000 6200 19    770  4
25    6.0025 14.706125  36.03000625   20  1   5480  9
26    0.6400  0.512000   0.40960000 4800 16   7390 14
27    0.2500  0.125000   0.06250000  430  1   7390 14
28    0.2025  0.091125   0.04100625 6330 19    770  4
29    0.6400  0.512000   0.40960000 5400 17   4870  9
30    6.7600 17.576000  45.69760000 6230 19   6570 11
...  ...     ...       ...          ...  ...  ...  ...
5121  0.4900  0.343000   0.2401000  3820 12   9590 22
5122  0.0400  0.008000   0.0016000  2200  8   7870 17
5123  0.5625  0.421875   0.3164062   220  1    770  4
5124  0.2500  0.125000   0.0625000  1360  4    770  4
5125  5.7600 13.824000  33.1776000  2310  8   7860 17
5126  8.1225 23.149125  65.9750063  8140 21    770  4
5127  6.2500 15.625000  39.0625000  3930 12   7680 16
5128  3.6100  6.859000  13.0321000  2750  9   8560 19
5129  0.6400  0.512000   0.4096000   710  2   6870 12
5130  1.4400  1.728000   2.0736000  4010 13   8680 20
5131  0.3600  0.216000   0.1296000  2320  8   7860 17
5132  6.2500 15.625000  39.0625000  3255 10   8170 18
5133  4.0000  8.000000  16.0000000  4110 13   8680 20
5134  2.8900  4.913000   8.3521000  9620 22   6290 10
5135  9.9225 31.255875  98.4560063  5510 17   6380 10
5136  2.2500  3.375000   5.0625000  2010  6   9370 22
5137 11.5600 39.304000 133.6336000  2310  8   7860 17
5138  0.6400  0.512000   0.4096000  4720 16   8590 19
5139  0.6400  0.512000   0.4096000  2000  6   8090 18
5140  7.8400 21.952000  61.4656000    40  1   9170 21
5141  0.2500  0.125000   0.0625000  3255 10   8190 18
5142  2.2500  3.375000   5.0625000  9620 22   5390  9
5143  1.2100  1.331000   1.4641000  7150 20   8770 21
5144  2.8900  4.913000   8.3521000  2550  8   9480 22
5145  1.0000  1.000000   1.0000000   800  2    770  4
5146  0.8100  0.729000   0.6561000  4700 16   4970  9
5147  1.4400  1.728000   2.0736000  4110 13   8680 20
5148  1.2100  1.331000   1.4641000  1550  4   3680  6
5149  1.0000  1.000000   1.0000000  2920  9   6570 11
5150  1.9600  2.744000   3.8416000  1610  5   7460 14

In [6]:
dim(base)

[1] 5150   21

## If condition
The body of the if condition is excuted if the `test_expression` is `TRUE`. The ouput of the test expression should be a `boolean`variable. 

<img src="if-statement.jpg" alt="image info" />

The structure of the code is the following: <br><br>

<font size="4">
if <font color='green'>(test expresion)</font>{<br>
&nbsp;&nbsp;&nbsp;&nbsp;Code to excute<br>
}</font>

The function **if** tests the veracity of a logic expression. The result of test statement should be a **<font color='red'>boolean</font>**. In other words, the output of the test statemen must be **<font color='red'>TRUE</font>** or **<font color='red'>FALSE</font>**. To sum, any function that its output is **boolean** can be used as a test expression in the **if** function.

In [151]:
x <- -4

if(x > 0){
print("Non-negative number")
}

### Tests more than 1 expression

We will use **else if**. This function allows us to add more test expressions.  <br><br>

<font size="3">
if <font color='green'>(Test expression 1)</font>{ <br>
&nbsp;&nbsp;&nbsp;&nbsp;Code1<br><br>
} else if <font color='green'>(Test expression 2)</font>{<br>
&nbsp;&nbsp;&nbsp;&nbsp;Code2<br><br>
} else if <font color='green'>(Test expression 3)</font>{<br>
&nbsp;&nbsp;&nbsp;&nbsp;Code3<br><br>
} else if <font color='green'>(Test expression 4)</font>{<br>
&nbsp;&nbsp;&nbsp;&nbsp;Code4<br><br>
} else if <font color='green'>(Test expression 5)</font>{<br>
&nbsp;&nbsp;&nbsp;&nbsp;Code5<br><br>
}else{<br>&nbsp;&nbsp;&nbsp;&nbsp;Code6<br><br>
}</font>

R will read the conditions of the test in order. If **Test expression 1** is `TRUE`, the rest of the test expressions will not be evaluated. R execute **Code2** and will not test the next conditions. <br>

In case no Test expression is `TRUE`, the **Code6** will be excuted.

In [5]:
if (z = 3 > 9) {
    print('xsd')
}

ERROR: Error in parse(text = x, srcfile = src): <text>:1:7: inesperado '='
1: if (z =
          ^

In [7]:
if ((z <- 12) >= 9){
    print('xsd')
}

[1] "xsd"

In [155]:
x <- 5

if (x < 0) {
print("Negative number")
} else if (x > 0) {
print("Positive number")
} else {
print("Zero")}

[1] "Positive number"

## Loops
A for loop is used for iterating over a sequence. It has the following structure:

<img src="for_loop.jpg" alt="image info" />

In [171]:
age = c( 20 , 27 , 31 , 25 , 28 )
years = c( 2023 , 2021 , 2022 , 2026 , 2027, 2028 )
length

function (x)  .Primitive("length")

In [172]:
age_finish <- numeric( length = length( age ) )
age_finish

[1] 0 0 0 0 0

In [173]:
for ( i in c( 1:length( age ) ) ) {
  print(i + 1)
}

[1] 2
[1] 3
[1] 4
[1] 5
[1] 6

In [174]:
for ( i in c( 1:length( age ) ) ) {
  age_finish[ i ] = age[ i ] + years[ i ] - 2021
}
print( age_finish )

[1] 22 27 32 30 34

## Functions in R

- `Arguments` − Elements that the function will use to make operations. Arguments are optional and can have default values.

- `Function Body` − This defines what your function does.
- `return` − Specifies the variable that will be the output of the function.

Return Value − The return value of a function is the last expression in the function body to be evaluated.
<br><br>
<font size="4">
function <font color='green'>(arg_1, arg_2, ...) </font>{<br><br>
&nbsp;&nbsp;&nbsp;&nbsp;Function body <br>
    <br> &nbsp;&nbsp;&nbsp;&nbsp;return <br>
}</font>

In [191]:
demean<- function(x){ 
    new_var = x - mean(x)
    new_var_2 = new_var^4
    return( new_var_2 )
}

In [192]:
vector_2 = c(2 , 3, 4)

In [193]:
demean( vector_2 )

[1] 1 0 1

## Linear Regressions

## Packages

In [47]:
install.packages( "glmnet" )

Installing package into 'C:/Users/Roberto Carlos/Documents/R/win-library/4.1'
(as 'lib' is unspecified)

also installing the dependencies 'iterators', 'foreach', 'shape'

package 'iterators' successfully unpacked and MD5 sums checked
package 'foreach' successfully unpacked and MD5 sums checked
package 'shape' successfully unpacked and MD5 sums checked
package 'glmnet' successfully unpacked and MD5 sums checked

The downloaded binary packages are in
	C:\Users\Roberto Carlos\AppData\Local\Temp\RtmpKAvdRp\downloaded_packages

In [48]:
library(glmnet)

Loading required package: Matrix

Loaded glmnet 4.1-3

In [49]:

# Reading data and converting to dataframe
Penn <- as.data.frame(read.table("penn_jae.dat", header=T ))
dim(Penn)

[1] 13913    23

In [50]:
#Number of rows
n <- dim(Penn)[1]

# Number of columns
p_1 <- dim(Penn)[2]

In [51]:
# Filtering data to tg==4 | tg==0
Penn<- subset(Penn, tg==4 | tg==0)

# we are making the columns of the data frame as vectors available with its own name
attach(Penn)

In [52]:
T4 <- (tg==4)
typeof(T4)

[1] "logical"

In [53]:
summary(T4)

   Mode   FALSE    TRUE
logical    3354    1745

### Formula
For more information [link1](https://thomasleeper.com/Rcourse/Tutorials/formulae.html), [link2](https://www.datacamp.com/community/tutorials/r-formula-tutorial).

In [55]:
install.packages( "lmtest" )
install.packages( "sandwich" )
library(lmtest)
library(sandwich)
# Suggestion for update your R version

Installing package into 'C:/Users/Roberto Carlos/Documents/R/win-library/4.1'
(as 'lib' is unspecified)

also installing the dependency 'zoo'

  There is a binary version available but the source version is later:
       binary source needs_compilation
lmtest 0.9-39 0.9-40              TRUE

  Binaries will be installed
package 'zoo' successfully unpacked and MD5 sums checked
package 'lmtest' successfully unpacked and MD5 sums checked

The downloaded binary packages are in
	C:\Users\Roberto Carlos\AppData\Local\Temp\RtmpKAvdRp\downloaded_packages

Installing package into 'C:/Users/Roberto Carlos/Documents/R/win-library/4.1'
(as 'lib' is unspecified)

package 'sandwich' successfully unpacked and MD5 sums checked

The downloaded binary packages are in
	C:\Users\Roberto Carlos\AppData\Local\Temp\RtmpKAvdRp\downloaded_packages

Loading required package: zoo


Attaching package: 'zoo'


The following objects are masked from 'package:base':

    as.Date, as.Date.numeric

In [56]:
# Generation of formulas for regressions
# The class formula
formula1 <- "T4 ~ female "
class(formula1)
formula2 <- "T4 ~ (female+black+othrace+factor(dep)+q2+q3+q4+q5+q6+agelt35+agegt54+durable+lusd+husd)**2)"

[1] "character"

In [57]:
# We can use multiple independent variables b simply separating them with the plus symbol(+)
formula2 <- (T4 ~ female + black )
# See the variables in the formula
all.vars( formula2 )

formula3 <- (T4 ~ female - black )
print( terms( formula3 ) )

[1] "T4"     "female" "black"

T4 ~ female - black
attr(,"variables")
list(T4, female, black)
attr(,"factors")
       female
T4          0
female      1
black       0
attr(,"term.labels")
[1] "female"
attr(,"order")
[1] 1
attr(,"intercept")
[1] 1
attr(,"response")
[1] 1
attr(,".Environment")
<environment: R_GlobalEnv>

In [58]:
# Interactions terms
# We include the two terms and their interaction
formula5  <- (T4 ~ female * black)
print( terms( formula5 ) )

# We include only the interaction
formula6  <- (T4 ~ female:black)
print( terms( formula6 ) )

T4 ~ female * black
attr(,"variables")
list(T4, female, black)
attr(,"factors")
       female black female:black
T4          0     0            0
female      1     0            1
black       0     1            1
attr(,"term.labels")
[1] "female"       "black"        "female:black"
attr(,"order")
[1] 1 1 2
attr(,"intercept")
[1] 1
attr(,"response")
[1] 1
attr(,".Environment")
<environment: R_GlobalEnv>
T4 ~ female:black
attr(,"variables")
list(T4, female, black)
attr(,"factors")
       female:black
T4                0
female            2
black             2
attr(,"term.labels")
[1] "female:black"
attr(,"order")
[1] 2
attr(,"intercept")
[1] 1
attr(,"response")
[1] 1
attr(,".Environment")
<environment: R_GlobalEnv>

In [59]:
# Drop the intercept
# Method 1
formula5  <- (T4 ~  female * black)
print( terms( formula5 ) )

formula6  <- (T4 ~  -1 + female * black)
print( terms( formula6 ) )

# Method 2
formula7  <- (T4 ~ female:black)
print( terms( formula7 ) )

formula8  <- (T4 ~ 0 + female:black)
print( terms( formula8 ) )

T4 ~ female * black
attr(,"variables")
list(T4, female, black)
attr(,"factors")
       female black female:black
T4          0     0            0
female      1     0            1
black       0     1            1
attr(,"term.labels")
[1] "female"       "black"        "female:black"
attr(,"order")
[1] 1 1 2
attr(,"intercept")
[1] 1
attr(,"response")
[1] 1
attr(,".Environment")
<environment: R_GlobalEnv>
T4 ~ -1 + female * black
attr(,"variables")
list(T4, female, black)
attr(,"factors")
       female black female:black
T4          0     0            0
female      1     0            1
black       0     1            1
attr(,"term.labels")
[1] "female"       "black"        "female:black"
attr(,"order")
[1] 1 1 2
attr(,"intercept")
[1] 0
attr(,"response")
[1] 1
attr(,".Environment")
<environment: R_GlobalEnv>
T4 ~ female:black
attr(,"variables")
list(T4, female, black)
attr(,"factors")
       female:black
T4                0
female            2
black             2
attr(,"term.labels")
[1] "female:black"
attr(,"order")
[1] 2
attr(,"intercept")
[1] 1
attr(,"response")
[1] 1
attr(,".Environment")
<environment: R_GlobalEnv>
T4 ~ 0 + female:black
attr(,"variables")
list(T4, female, black)
attr(,"factors")
       female:black
T4                0
female            2
black             2
attr(,"term.labels")
[1] "female:black"
attr(,"order")
[1] 2
attr(,"intercept")
[1] 0
attr(,"response")
[1] 1
attr(,".Environment")
<environment: R_GlobalEnv>

In [60]:
# Factor in regression Analysis
# dep is a factor variable but as defaul it is a vector
dep[ 4:20 ]
class(dep)
# factor(dep) == as.factor( dep )

# we need to specify that dep is a factor variable in a regression formula to not be treated as a numeric vector
# by default, the factor's first level treated as a baseline
formula6  <- (T4 ~  female * black + factor( dep ) )
print( terms( formula6 ) )

formula7  <- (T4 ~  female * black + dep )
print( terms( formula7 ) )

 [1] 0 1 0 1 1 0 0 2 2 0 2 0 0 2 0 0 0

[1] "integer"

T4 ~ female * black + factor(dep)
attr(,"variables")
list(T4, female, black, factor(dep))
attr(,"factors")
            female black factor(dep) female:black
T4               0     0           0            0
female           1     0           0            1
black            0     1           0            1
factor(dep)      0     0           1            0
attr(,"term.labels")
[1] "female"       "black"        "factor(dep)"  "female:black"
attr(,"order")
[1] 1 1 1 2
attr(,"intercept")
[1] 1
attr(,"response")
[1] 1
attr(,".Environment")
<environment: R_GlobalEnv>
T4 ~ female * black + dep
attr(,"variables")
list(T4, female, black, dep)
attr(,"factors")
       female black dep female:black
T4          0     0   0            0
female      1     0   0            1
black       0     1   0            1
dep         0     0   1            0
attr(,"term.labels")
[1] "female"       "black"        "dep"          "female:black"
attr(,"order")
[1] 1 1 1 2
attr(,"intercept")
[1] 1
attr(,"response")
[1] 1
attr(,".Environment")
<environment: R_GlobalEnv>

In [61]:
# We can update formulas 
formula_modelA  <- (T4 ~  female + black + lusd + lusd ^ 2 )
print( terms( formula_modelA ) )
class( formula_modelA )

# formula for model B
formula_modelB  <- update( formula_modelA, ~ . + factor(dep))
print( terms( formula_modelB ) )

T4 ~ female + black + lusd + lusd^2
attr(,"variables")
list(T4, female, black, lusd)
attr(,"factors")
       female black lusd
T4          0     0    0
female      1     0    0
black       0     1    0
lusd        0     0    1
attr(,"term.labels")
[1] "female" "black"  "lusd"
attr(,"order")
[1] 1 1 1
attr(,"intercept")
[1] 1
attr(,"response")
[1] 1
attr(,".Environment")
<environment: R_GlobalEnv>

[1] "formula"

T4 ~ female + black + lusd + factor(dep)
attr(,"variables")
list(T4, female, black, lusd, factor(dep))
attr(,"factors")
            female black lusd factor(dep)
T4               0     0    0           0
female           1     0    0           0
black            0     1    0           0
lusd             0     0    1           0
factor(dep)      0     0    0           1
attr(,"term.labels")
[1] "female"      "black"       "lusd"        "factor(dep)"
attr(,"order")
[1] 1 1 1 1
attr(,"intercept")
[1] 1
attr(,"response")
[1] 1
attr(,".Environment")
<environment: R_GlobalEnv>

## Regressions Objects
We will understand the output from a regression

In [62]:
key_columns  <-  c('female', 'black', 'lusd' , 'dep', 'T4')

In [63]:
data2  <-  data.frame( Penn[(names( Penn ) %in% key_columns ) ] )

In [64]:
# Regression
reg1 <- lm(formula_modelB , data2 )

# The output is a list of elements
typeof(reg1)
is.list( reg1 )
# All the elements in the list are detailed in the table bellow.
names( reg1 )

[1] "list"

[1] TRUE

 [1] "coefficients"  "residuals"     "effects"       "rank"
 [5] "fitted.values" "assign"        "qr"            "df.residual"
 [9] "contrasts"     "xlevels"       "call"          "terms"
[13] "model"

| Elements 	| Definition 	|
|---	|---	|
| coefficients 	| Vector of coefficients. 	|
| residuals 	| Vector of residuals. 	|
| effects 	| Vector of the uncorrelated single-degree-of-freedom <br>values obtained by projecting the data onto the successive <br>orthogonal subspaces generated by the QR decomposition <br>during the fitting process. 	|
| rank 	| Number of independent columns. 	|
| fitted.values 	| Vector of fitted values. 	|
| qr 	| The QR decomposition. 	|
| df.residual 	| The degrees of freedom of the residuals. 	|
| contrasts 	| A contrast is a linear combination of variables <br>that allows comparison of different treatments. 	|
| xlevels 	| Levels of the factor variables. 	|
| call 	| The formula. 	|
| terms 	| Variables of the regression. 	|
| model 	| DataFrame of the variables in the model. 	|

#### Predictions
We can get the vector of predictions using the formula `predict`.

In [65]:
data2

      female black dep lusd
1     0      0     2   0
4     0      0     0   1
5     0      0     0   1
12    0      0     0   0
13    0      0     1   1
14    1      0     0   1
15    1      0     1   1
17    1      0     1   1
23    1      0     0   1
25    1      0     0   1
26    1      0     2   0
27    1      0     2   0
32    1      0     0   0
33    1      0     2   0
39    1      0     0   1
43    0      0     0   1
49    0      0     2   1
50    0      0     0   1
58    0      0     0   1
59    0      1     0   0
60    0      0     1   0
61    1      0     2   0
63    0      0     0   0
65    0      0     2   1
72    0      0     0   1
73    0      0     0   0
75    0      0     2   0
77    0      0     0   0
81    0      0     0   1
82    0      0     2   1
...   ...    ...   ... ...
13829 0      0     0   0
13831 0      0     0   0
13842 0      0     1   0
13845 1      0     1   1
13846 0      0     1   1
13847 0      0     2   0
13854 0      0     0   0
13864 0      0     0   0
13872 0      0     0   1
13873 0      0     2   1
13875 0      0     2   0
13876 0      0     0   0
13877 1      0     0   0
13880 0      0     2   0
13883 1      0     1   0
13888 0      0     0   1
13891 0      0     0   0
13892 1      0     0   0
13893 1      0     0   1
13894 1      0     0   1
13895 0      0     0   0
13896 1      0     0   1
13899 0      1     0   0
13900 1      1     0   1
13901 1      0     2   0
13905 0      0     0   0
13906 0      0     2   0
13907 0      0     2   1
13911 0      0     0   0
13912 0      0     0   1

In [66]:
new_obs  <- data.frame(matrix( c(0, 0, 1 , 1), ncol= 4, dimnames = list( c() , c( "female" , "black" , "dep", "lusd"  ) ) ))

In [67]:
new_obs

  female black dep lusd
1 0      0     1   1

In [68]:
y_hat  <- predict(reg1,  new_obs )
y_hat

        1
0.3599624

In [131]:
reg1

Call:
lm(formula = formula_modelB, data = data2)

Coefficients:
 (Intercept)        female         black          lusd  factor(dep)1
    0.334987     -0.003385      0.007083      0.027561     -0.002586
factor(dep)2
    0.005105

In [132]:
# We can summary the regression output to get a estimation table using summary
summary( reg1 )
# This object is a list and we can go to each element to get key variables of information
names( summary( reg1 ) )

# Summary of regression is a list
is.list(summary( reg1 ))
is.data.frame(summary( reg1 ))
is.matrix(summary( reg1 )$coefficients)

Call:
lm(formula = formula_modelB, data = data2)

Residuals:
    Min      1Q  Median      3Q     Max
-0.3747 -0.3401 -0.3324  0.6434  0.6710

Coefficients:
              Estimate Std. Error t value Pr(>|t|)
(Intercept)   0.334987   0.010803  31.008   <2e-16 ***
female       -0.003385   0.013595  -0.249   0.8034
black         0.007083   0.020388   0.347   0.7283
lusd          0.027561   0.015188   1.815   0.0696 .
factor(dep)1 -0.002586   0.021332  -0.121   0.9035
factor(dep)2  0.005105   0.018257   0.280   0.7798
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1

Residual standard error: 0.4746 on 5093 degrees of freedom
Multiple R-squared:  0.0006796,	Adjusted R-squared:  -0.0003015
F-statistic: 0.6927 on 5 and 5093 DF,  p-value: 0.6289

 [1] "call"          "terms"         "residuals"     "coefficients"
 [5] "aliased"       "sigma"         "df"            "r.squared"
 [9] "adj.r.squared" "fstatistic"    "cov.unscaled"

[1] TRUE

[1] FALSE

[1] TRUE